@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background-color: #45898b;
  color: white;
  text-align: center;
  font-size: 1.3rem;
  height: 160px;
}

main {
  background-color: #6ba2e0;
  color: white;
  text-align: center;
  font-size: 1.3rem;
  height: 160px;
}

/*
    seccion_name: nos sirve para implementar margenes y espaciados 
    con el fin de separar el contenedor del body
*/
.section_footer {
  background-color: #ccc;
  padding: 50px 0;
  /*
        container_name: es quien contiene todos los elementos por lo
		general es a esta que damos width para manejar el responsive
    */
}

.section_footer .container_footer {
  margin: 0 auto;
  /*
            query 769px <-- : definimos un width para esta medida
		*/
  /*
            query 770px --> : definimos un width para esta medida
		*/
  /*
			flexbox_footer: por lo general contiene cajas las 
			cuales manejamos con flexbox
		*/
  /*
			box_gotop: con fixed y sus propiedades right, bottom
			y z-index le damos posicion a esta caja
		*/
  /*
			parrafo copyright
		*/
}

@media (max-width: 769px) {
  .section_footer .container_footer {
    width: 90%;
  }
}

@media (min-width: 770px) {
  .section_footer .container_footer {
    width: 80%;
  }
}

.section_footer .container_footer .flexbox_footer {
  /*
				query 770px --> : definimos flexbox en esta medida
				para posicionar las cajas una al lado de la otra
			*/
  /*
				boxes: clase general para todas las cajas que nos
				perimite definir un estilo para todas
			*/
  /*
				caja uno
			*/
  /*
				caja dos
			*/
  /*
				caja tres
			*/
  /*
				caja cuatro
			*/
}

@media (min-width: 770px) {
  .section_footer .container_footer .flexbox_footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.section_footer .container_footer .flexbox_footer .boxes {
  /*
					query 769px <-- : eliminamos el margin-top
					del primer h2 que se genero cuando definimos margen
					a todos los h2
				*/
  /*
					query 769px <-- : generamos un margen-top
					a todos los h2 con el cual separamos las 
					cajas entre si 
				*/
}

@media (max-width: 769px) {
  .section_footer .container_footer .flexbox_footer .boxes:first-child h2 {
    margin-top: 0;
  }
}

@media (max-width: 769px) {
  .section_footer .container_footer .flexbox_footer .boxes h2 {
    margin-top: 40px;
  }
}

.section_footer .container_footer .flexbox_footer .box_one ul li {
  list-style: none;
  margin: 10px 0;
}

.section_footer .container_footer .flexbox_footer .box_one ul a {
  text-decoration: none;
}

.section_footer .container_footer .flexbox_footer .box_two {
  /*
					texto: definimos un width al parrafo para evitar
					que este ocupe el 100% del ancho
				*/
}

.section_footer .container_footer .flexbox_footer .box_two p {
  margin-top: 10px;
  max-width: 180px;
}

.section_footer .container_footer .flexbox_footer .box_three ul li {
  list-style: none;
  margin: 10px 0;
}

.section_footer .container_footer .flexbox_footer .box_three ul a {
  text-decoration: none;
}

@media (min-width: 770px) {
  .section_footer .container_footer .flexbox_footer .box_three .title {
    margin-top: 40px;
  }
}

.section_footer .container_footer .flexbox_footer .box_four h4 {
  margin: 10px 0;
}

.section_footer .container_footer .box_gotop {
  position: fixed;
  right: 20px;
  bottom: 132px;
  z-index: 99;
  width: 50px;
  height: 50px;
  /*
				svg: resaltemos la importancia del color: transparent 
				que nos ayuda a ocultar el icono svg
			*/
}

.section_footer .container_footer .box_gotop svg {
  fill: transparent;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  /*
					clase añadida con javascript que define un color
					al icono svg dejandolo ver nuevamente y un hover
					para cambiar su color de fondo
				*/
}

.section_footer .container_footer .box_gotop svg.js_show_gotop {
  fill: #fff;
  background-color: #575454;
}

.section_footer .container_footer .box_gotop svg.js_show_gotop:hover {
  background-color: dodgerblue;
}

.section_footer .container_footer .copy_right {
  text-align: center;
  padding-top: 50px;
}
/*# sourceMappingURL=style.css.map */