* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

$widthGotop: 50px;
$heightGotop: 50px;

header {
	background-color: rgb(69, 137, 139);
	color: white;
	text-align: center;
	font-size: 1.3rem;
	height: 160px;
}

main {
	background-color: rgb(107, 162, 224);
	color: white;
	text-align: center;
	font-size: 1.3rem;
	height: 160px;
}

/*
    seccion_name: nos sirve para implementar margenes y espaciados 
    con el fin de separar el contenedor del body
*/
.section_footer {
	background-color: #ccc;
	padding: 50px 0;

	/*
        container_name: es quien contiene todos los elementos por lo
		general es a esta que damos width para manejar el responsive
    */
	.container_footer {
		margin: 0 auto;

		/*
            query 769px <-- : definimos un width para esta medida
		*/
		@media (max-width: 769px) {
			width: 90%;
		}

		/*
            query 770px --> : definimos un width para esta medida
		*/
		@media (min-width: 770px) {
			width: 80%;
		}

		/*
			flexbox_footer: por lo general contiene cajas las 
			cuales manejamos con flexbox
		*/
		.flexbox_footer {
			/*
				query 770px --> : definimos flexbox en esta medida
				para posicionar las cajas una al lado de la otra
			*/
			@media (min-width: 770px) {
				display: flex;
				justify-content: space-between;
			}

			/*
				boxes: clase general para todas las cajas que nos
				perimite definir un estilo para todas
			*/
			.boxes {
				/*
					query 769px <-- : eliminamos el margin-top
					del primer h2 que se genero cuando definimos margen
					a todos los h2
				*/
				@media (max-width: 769px) {
					&:first-child h2 {
						margin-top: 0;
					}
				}

				/*
					query 769px <-- : generamos un margen-top
					a todos los h2 con el cual separamos las 
					cajas entre si 
				*/
				h2 {
					@media (max-width: 769px) {
						margin-top: 40px;
					}
				}
			}

			/*
				caja uno
			*/
			.box_one {
				ul {
					li {
						list-style: none;
						margin: 10px 0;
					}

					a {
						text-decoration: none;
					}
				}
			}

			/*
				caja dos
			*/
			.box_two {
				/*
					texto: definimos un width al parrafo para evitar
					que este ocupe el 100% del ancho
				*/
				p {
					margin-top: 10px;
					max-width: 180px;
				}
			}

			/*
				caja tres
			*/
			.box_three {
				ul {
					li {
						list-style: none;
						margin: 10px 0;
					}

					a {
						text-decoration: none;
					}
				}

				.title {
					@media (min-width: 770px) {
						margin-top: 40px;
					}
				}
			}

			/*
				caja cuatro
			*/
			.box_four {
				h4 {
					margin: 10px 0;
				}
			}
		}

		/*
			box_gotop: con fixed y sus propiedades right, bottom
			y z-index le damos posicion a esta caja
		*/
		.box_gotop {
			position: fixed;
			right: 20px;
			bottom: 132px;
			z-index: 99;
			width: $widthGotop;
			height: $heightGotop;

			/*
				svg: resaltemos la importancia del color: transparent 
				que nos ayuda a ocultar el icono svg
			*/
			svg {
				fill: transparent;
				border-radius: 5px;
				width: $widthGotop;
				height: $heightGotop;
				cursor: pointer;
				transition: all 0.3s ease;

				/*
					clase añadida con javascript que define un color
					al icono svg dejandolo ver nuevamente y un hover
					para cambiar su color de fondo
				*/
				&.js_show_gotop {
					fill: #fff;
					background-color: #575454;

					&:hover {
						background-color: dodgerblue;
					}
				}
			}
		}

		/*
			parrafo copyright
		*/
		.copy_right {
			text-align: center;
			padding-top: 50px;
		}
	}
}
